[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
lower_case_table_names = 2
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci
secure-file-priv               = ""
explicit_defaults_for_timestamp = 1
innodb_use_native_aio = 0
log_error_suppression_list = 'MY-013360'
skip-ssl = 1