@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  /* background-color: aqua; */
  padding: 1.5rem 7rem;
}

.main_category {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.main_category_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
}

.category_right_menu {
  padding: 0 1rem;
}

.sub_category {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  margin-bottom: -1rem;
}

.sub_category_menu {
  padding-right: 0.8rem;
}
