@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout navbar */

.nav {
  /* background-color: aqua; */
  padding: 1.5rem 7rem;
}

.main_category {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.main_category_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
}

.category_right_menu {
  padding: 0 1rem;
}

.sub_category {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  margin-bottom: -1rem;
}

.sub_category_menu {
  padding-right: 0.8rem;
}

.side_category {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1rem;
}

.side_category_menu {
  font-size: 0.75rem;
  padding-left: 1.2rem;
  margin-top: -1.2rem;
  color: #666;
}

/* -------------------- */

/* footer */

.footer_container {
  background-color: black;
  width: 100%;
  height: 83%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 0;
}

.footer_menu {
  color: white;
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 20%;
  margin: 0 auto;
  align-items: center;
}

.sns_icons {
  display: flex;
  flex-direction: row;
  width: 9rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

/* -------------------- */
